.Buttons {
  text-align: center;
}

.ba {
  border-style: solid;
  border-width: 1px;
}

.br-pill {
  border-radius: 9999px;
}

.bw1 {
  border-width: 0.125rem;
}

.bw2 {
  border-width: 0.25rem;
}

.dib {
  display: inline-block;
}

.fw6 {
  font-weight: 600;
}

.tracked {
  letter-spacing: 0.1em;
}

.dark-green {
  color: #137752;
}

.dark-gray {
  color: #333;
}

.bg-navy {
  background-color: #001b44;
}

.pv2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ph3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mb2 {
  margin-bottom: 0.5rem;
}

.mb4 {
  margin-bottom: 2rem;
}

.mt4 {
  margin-top: 2rem;
}

.no-underline {
  text-decoration: none;
}

.ttu {
  text-transform: uppercase;
}

.f6 {
  font-size: 0.875rem;
}

.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.grow:hover,
.grow:focus {
  transform: scale(1.05);
}

.grow:active {
  transform: scale(0.9);
}
